@model BaseModel

@using (Html.BeginForm(Model.DeleteForm.Action, Model.DeleteForm.Controller))
{
    @Html.AntiForgeryToken()
    <!-- Foreach Property that can be set -->
    foreach (var property in Model.GetType().GetProperties())
    {
        if(property.CanWrite)
        {
            // we have a settable property
            @Html.HiddenFor(m => property)
        }
    }

    <button type="submit" class="btn btn-submit" name=@Model.DeleteForm.ButtonName>@Model.DeleteForm.Action</button>
}