@model BaseModel

@using (Html.BeginForm(Model.EditForm.Action, Model.EditForm.Controller))
{
    @Html.AntiForgeryToken()
    <!-- Foreach Property that can be set -->
    foreach (var property in Model.GetType().GetProperties().Where(p => p.CanWrite))
    {
        // we have a settable property
        <input class="text-box single-line" id=@property.Name name=@property.Name type="hidden" value="@property.GetValue(Model, null)">
    }

    <button type="submit" class="btn btn-submit" name=@Model.EditForm.ButtonName>@Model.EditForm.Action</button>
}