@model BaseModel

@{
    ViewData["Title"] = Html.DisplayTextFor(model => model.UpdateText);
}

<div class="text-center">
    <h1 class="display-4">@Html.DisplayTextFor(model => model.UpdateText)</h1>
</div>

<div class="row">
    <div class="col col-sm-4"></div>
    <div class="col col-sm-4">
        <div class="row">
            @using (Html.BeginForm(Model.EditForm.Action, Model.EditForm.Controller))
            {
                @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    if (property.DisplayName != null)
                    {
                        <div class="form-group form-inline">
                            <div class="col col-sm-6">
                                @Html.Label(property.DisplayName)
                            </div>
                            <div class="col col-sm-6">
                                @Html.Editor(property.PropertyName)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            @Html.Hidden(property.PropertyName)
                        </div>
                    }
                }

                @await Html.PartialAsync("SaveButtons")
            }
        </div>
    </div>
    <div class="col col-sm-4"></div>
</div>