@model IQueryable<BaseModel>

<div class="row">
    @if (Model != null)
    {
        // This won't display if IQueryable is empty...
        // so create a new empty object if there isn't one for the headings
        BaseModel modelType = Model.FirstOrDefault() ?? (BaseModel)System.Activator.CreateInstance(Model.GetType().GetGenericArguments()[0]);

        <div>
            <h2>@Html.DisplayName(modelType.ModelName) Records</h2>
        </div>
        if (modelType != null)
        {
            <div class="col col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            @foreach (var property in modelType.GetType().GetProperties())
                            {
                                var displayProperty = property.CustomAttributes.Where(a => a.AttributeType == typeof(System.ComponentModel.DataAnnotations.DisplayAttribute)).SingleOrDefault();
                                if (displayProperty != null)
                                {
                                    <th>
                                        @Html.Label(displayProperty.NamedArguments[0].TypedValue.Value.ToString())
                                    </th>
                                }
                            }
                            <th>
                                <!-- Blank th for edit button -->
                            </th>
                            <th>
                                <!-- Blank th for delete button -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @foreach (var property in item.GetType().GetProperties())
                                {
                                    if (property.CustomAttributes.Where(a => a.AttributeType == typeof(System.ComponentModel.DataAnnotations.DisplayAttribute)).Any())
                                    {
                                        object propValue = property.GetValue(item, null);
                                        // Get the value of this property from item
                                        <td>
                                            @if (propValue != null)
                                            {
                                                @Html.Label(propValue.ToString())
                                            }
                                        </td>
                                    }
                                }
                                <td>
                                    @await Html.PartialAsync("ButtonEdit", item)
                                </td>
                                <td>
                                    @await Html.PartialAsync("ButtonDelete", item)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            @foreach (var property in modelType.GetType().GetProperties())
                            {
                                var displayProperty = property.CustomAttributes.Where(a => a.AttributeType == typeof(System.ComponentModel.DataAnnotations.DisplayAttribute)).SingleOrDefault();
                                if (displayProperty != null)
                                {
                                    <th>
                                        @if (property == modelType.GetType().GetProperties().First())
                                        {
                                            // Put the add button on the left
                                            @await Html.PartialAsync("ButtonAdd", modelType)
                                        }
                                        else
                                        {
                                            <!-- Blank th for footer -->
                                        }
                                    </th>
                                }
                            }
                            <th>
                                <!-- Blank th for edit button -->
                            </th>
                            <th>
                                <!-- Blank th for delete button -->
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
    }
    else
    {
        <h1>Null model passed to IQueryTable.cshtml</h1>
    }
</div>