<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <div class="btn-group" role="group">
            <button class="btn btn-success btn-secondary" type="submit" aria-label="Save" name="Save">Save</button>
            <button class="btn btn-warning btn-secondary" aria-label="Cancel" name="Cancel">Cancel</button>
        </div>
    </div>
</div>