@model List<IQueryable<Invoicing.Models.BaseModel>>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (IQueryable<Invoicing.Models.BaseModel> table in Model)
{
    @await Html.PartialAsync("IQueryableTable", table)
}

<div>
    <ul>
        @foreach (IQueryable<Invoicing.Models.BaseModel> table in Model)
        {
            <li>
                @await Html.PartialAsync("AddNewModel", table.FirstOrDefault())
            </li>
        }
    </ul>


</div>