@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>

    <ul>
        <li>
            @using (Html.BeginForm("Add", "Company"))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-submit" name="CompanyButton">Add a company</button>
            }
        </li>
        <li>
            @using (Html.BeginForm("Add", "Contract"))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-submit" name="ContractButton">Add a contract</button>
            }
        </li>
        <li>
            @using (Html.BeginForm("Add", "Employee"))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-submit" name="EmployeeButton">Add an employee</button>
            }
        </li>
    </ul>

    
</div>